:root {
	--primary: #b88e2f;
	--primary-background: #fff3e3;
	--primary-surface: #f9f1e7;

	--background: #fff;
	--foreground: #333;
	--secondary: #666666;
	--third: #3a3a3a;

	--surface: #f9f1e7;
	--surface-secondary: #f4f5f7;

	--divider: #d9d9d9;

	/* Color */
	--red: #e97171;
	--green: #2ec1ac;
	--gray-low: #9f9f9f;
	--white: #fff;
	--black: #000;

	/* Typography */
	--font-primary: "Poppins", sans-serif;
	--font-secondary: "Montserrat", sans-serif;
}
