.button {
	background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
	font-weight: 600;
	color: var(--background);
	transition: background-color 0.3s;
	height: 48px;
	width: 220px;
	border-width: 1px;
	border-style: solid;
	border-color: var(--primary);
	cursor: pointer;
    text-decoration: none;
}

.button--big {
	height: 74px;
}

.button--outline {
	color: var(--primary);
	background: var(--background);
}

.button:hover {
	color: var(--primary);
	background: var(--background);
}

.button--outline:hover {
	color: var(--background);
	background: var(--primary);
}