.hero {
	width: 100%;
	height: 90vh;
	position: relative;
	overflow: hidden;
}

.hero--shop {
	height: 316px;
}

.hero__image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%;
}

.hero__title {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.hero__title > h1 {
	font-weight: 500;
	font-size: 48px;
	color: var(--forground);
}

.hero--shop__image {
	filter: blur(6px);
	opacity: 50%;
}

.hero__card {
	position: absolute;
	background-color: var(--primary-background);
	padding: 40px;
	height: 440px;
	width: 640px;
	border-radius: 10px;
}

.hero__card--home {
	bottom: 120px;
	right: 120px;
}

.hero__card__tag {
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 3px;
	margin-bottom: 4px;
}

.hero__card__title {
	color: var(--primary);
	font-weight: 700;
	font-size: 52px;
	line-height: 65px;
}

.hero__card__paragraph {
	margin: 17px 0 46px 0;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
}
