.section {
	padding: 56px 0;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 32px;
	align-items: center;
}

.section__title {
	font-weight: 700;
	font-size: 40px;
	line-height: 48px;
	color: var(--foreground);
}

.section__subtitle {
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	color: var(--secondary);
}

.section--no-content {
	padding: 32px 0px;
}

.section--browse-range .section__title {
	font-size: 32px;
	color: var(--foreground);
}
