.section--share-setup {
	position: relative;
	height: 100vh;
	overflow: hidden;
}

.section--share-setup > div {
	position: absolute;
}

.section--share-setup > img {
	height: 100%;
	object-fit: cover;
}
